
.content {
    width: 100%;
}

.headcontainer {
    width: 960px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#name {
    background: #4aaaa5;
    float: left;
    text-align: center;
    width: 30%;
}

.mynav {
    float: right;
}

.container2 {
    width: 100%;
    height: 100%;
    border-top: 5px;
    border-top: solid;
    border-top-color: green;
    background: #dddddd;
    display: block;
    position: absolute;
}

.mysection {
    background: white;
    width: 960px;

}

.myfooter {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 5px;
    border-top: solid;
    border-top-color: #4aaaa5;
    color: white;
    background: #666666;
    position: absolute;
    bottom: 0px;
}

#Link1 {
    padding: 10px;
}

#Link2 {
    padding: 10px;
}

#Link3 {
    padding: 10px;
}